*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-color: #0095BE;
}

header{
	position: absolute;
	width: 100%;
	height: 385px;
	display: block;
	background-color: #1A9EFE;
	background-image: url("../img/sky.png");
	background-repeat: repeat-x;
	overflow: hidden;
}

nav{
	float: right;
	padding: 25px;
	display: block;
	color: #FFFFFF;
}

nav a{
	text-decoration: none;
	color: #FFFFFF;
	font: 12pt sans-serif;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

nav a:visited{
	color: #FFFFFF;
}

nav a:active{
	color: #F0F0F0;
}

nav a:hover{
	color: #FC1B1B;
}

#logo {
	display: block;
	position: absolute;
	left: 5%;
	top: 180px;
}

#waves {
	display: block;
	position: absolute;
	top: 170px;
	width: 100%;
	height: 215px;
	background-image: url("../img/sea.png");
	background-repeat: repeat-x;
}

#cloud1 {
	display: block;
	position: absolute;
	top: -45%;
	left: 15%;
}

#sun {
	display: block;
	position: absolute;
	top: -45%;
	left: 40%;
}

#balloon {
	display: block;
	position: absolute;
	top: -40%;
	left: 70%;
}

#catfish {
	display: block;
	position: absolute;
	top: 45%;
	left: 75%;
}

#cloud2 {
	display: block;
	position: absolute;
	top: -30%;
	left: 90%;
}

section{
	position: relative;
	top:385px;
	display: block;
	overflow: hidden;
	font: 12pt Georgia, 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
	border: 0;
}

section a{
    text-decoration: none;
    color: #FFFFFF;
}

section a:link {
  border-bottom: 1px dashed; 
}

section a:visited {
  /*color: #EF7D55;*/
  /*color: #154088;*/
}

section a:hover {
  color: #154088; 
  border-bottom: .07em solid;
}

section a:active {
  color: #497DDD; 
  border-bottom: 1px dashed;
}

ul{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: inline;
}


#about{
	position: relative;
	left: 35%;
	background-color: #00B2D8;
	border-radius: 50px 50px;
    width: 50%;
	padding: 25px;
	color: #FFFFFF;
	z-index: 1000;
}

#news{
	margin-left: 5%;
	background-color: #0095BE;
	border-radius: 50px 50px;
	width: 60%;
	padding: 25px;
	color: #FFFFFF;
}

.SectionDark {
	background-color: #0095BE;
}

.SectionLight {
	background-color: #00B2D8;
}

.SectionFooter {
	height: 50px;
	width: 100%;
}

.SectionFooterLeft {
	position: relative;
	left: -10px;
	height: 100px;
	width: 120%;
	margin-top: 20px;
	background-color: #00B2D8;
	-moz-transform: rotate(2deg); 		/* Для Firefox */
    -ms-transform: rotate(2deg); 		/* Для IE */
    -webkit-transform: rotate(2deg); 	/* Для Safari, Chrome, iOS */
    -o-transform: rotate(2deg); 		/* Для Opera */
    transform: rotate(2deg);
}

.SectionFooterRight {
	position: relative;
	left: -10px;
	height: 100px;
	width: 120%;
	margin-top: 20px;
	background-color: #0095BE;
	-moz-transform: rotate(-2deg); 		/* Для Firefox */
    -ms-transform: rotate(-2deg); 		/* Для IE */
    -webkit-transform: rotate(-2deg); 	/* Для Safari, Chrome, iOS */
    -o-transform: rotate(-2deg); 		/* Для Opera */
    transform: rotate(-2deg);
}

.SectionImageLeft {
	position: absolute;
	left: 5%;
	top: 25%;
	z-index: 100;
}

.SectionImageRight {
	position: absolute;
	top: 25%;
	left: 75%;
	z-index: 100;
}

.SectionList {
	padding: 25px;
	display: inline-block;
}

.SectionProjectGame {
	display: inline-block;
	width: 315px;
	height: 100%;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #00B2D8;
	border-radius: 15px 15px;
	color: #FFFFFF;
    text-align: left;

}

.SectionProjectGame img {
	border: 1 solid #ffffff;
	border-radius: 25px 25px;
	margin: 5px;
	height: 95%;
	width: 95%;
}

.SectionProjectGame h3 {
	text-align: right;
	margin-bottom: 5px;
	margin-right: 25px;
}

.vkbutton{
	background-image: url("../img/vkbutton.png");
	width: 164px;
	height: 41px;
	float: right;
}

#technologies{
	margin-left: 5%;
	background-color: #0095BE;
	border-radius: 50px 50px;
    color: #FFFFFF;
	width: 40%;
	padding: 25px;
	overflow: hidden;
	display: inline-block;
}

.TechnologiesImage {
	height: 35%;
	width: 50%;
}

#contacts{
	position: absolute;
	right: 5%;
	top: 0px;
	background-color: #0095BE;
	border-radius: 50px 50px;
    color: #FFFFFF;
	width: 300px;
	padding: 25px;
	overflow: hidden;
}

footer{
	position: relative;
	top:385px;
	display: block;
	font: 8pt sans-serif;
	width: 100%;
	height: 200px;
	color: #FFFFFF;
}

footer p{
	position: relative;
	top: 150px;
	left: 50px;
	width: 300px;
}
