*{
	margin: 0;
	padding: 0;
	border: 0;
}

html{
	background-color: #0095BE;
}

nav{
	float: right;
	padding: 25px;
	display: block;
	color: #FFFFFF;
}

nav a{
	text-decoration: none;
	color: #FFFFFF;
	font: 12pt sans-serif;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

nav a:visited{
	color: #FFFFFF;
}

nav a:active{
	color: #F0F0F0;
}

nav a:hover{
	color: #FC1B1B;
}

header{
	display: block;
	background-color: #1A9EFE;
	background-image: url("../img/sky.png");
	background-repeat: repeat-x;
	width: 100%;
	height: 385px;
}

section{
	display: block;
	font: 12pt Georgia, 'Times New Roman', Times, serif;
}

footer{
	display: block;
	font: 8pt sans-serif;
	width: 100%;
	height: 200px;
	color: #FFFFFF;
}

footer p{
	position: relative;
	top: 150px;
	left: 50px;
	width: 500px;
}

table{
	position: relative;
	top: -100px;
	margin-left: 5%;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:link {
  border-bottom: 1px dashed; 
}
a:visited {
  /*color: #EF7D55;*/
  /*color: #154088;*/
}
a:hover {
  color: #154088; 
  /*color: #497DDD;*/
  border-bottom: .07em solid;
}
a:active {
  color: #497DDD; 
  border-bottom: 1px dashed;
}

#waves{
	position: relative;
	top: 100px;
	background-image: url("../img/sea.png");
	background-repeat: repeat-x;
	width: 100%;
	height: 215px;

}

#logo{
	position: relative;
	top: 180px;
	padding-left:5%;
	z-index: 10000;
}

#cloud1{
	position: relative;
	top: -300px;
	left: 15%;
}

#cloud2{
	position: relative;
	top: -200px;
	left: 70%;
}

#sun{
	position: relative;
	top: -110px;
	left: 25%;
}

#balloon{
	position: relative;
	top: -200px;
	left: 30%;
}

#cat_fist{
	position: relative;
	top: 100px;
	float: right;
	padding-right: 5%;
}

#about{
	/*
	margin-left: 40%;
	background-color: #ffffff;
	border: 1 solid #ffffff;
	border-radius: 50px 50px;
    color: #0A50D1;
	box-shadow: 5px 0 10px rgba(0,0,150,0.5);
	width: 50%;
	padding: 25px;
	*/
	
	margin-left: 40%;
	background-color: #00B2D8;
	border-radius: 50px 50px;
    width: 50%;
	padding: 25px;
	color: #FFFFFF;
}


#news{
	/*
	margin-left: 5%;
	background-color: #ffffff;
	border: 1 solid #ffffff;
	border-radius: 50px 50px;
    color: #0A50D1;
	box-shadow: 5px 0 10px rgba(0,0,150,0.5);
	height: 25%;
	width: 45%;
	padding: 25px;
	*/

	margin-left: 5%;
	background-color: #0095BE;
	border-radius: 50px 50px;
    height: 25%;
	width: 55%;
	padding: 25px;
	color: #FFFFFF;
}

#game1{
	/*
	margin-left: 50%;
	background-color: #ffffff;
	border: 1 solid #ffffff;
	border-radius: 50px 50px;
    color: #0A50D1;
	box-shadow: 5px 0 10px rgba(0,0,150,0.5);
	height: 250px;
	width: 480px;
	padding: 10px;
	text-align: left;
	overflow: hidden;
	*/

	margin-left: 50%;
	background-color: #00B2D8;
	border-radius: 15px 15px;
	color: #FFFFFF;
    height: 250px;
	width: 480px;
	padding: 10px;
	text-align: left;
	overflow: hidden;
}

#game1 img {
	border: 1 solid #ffffff;
	border-radius: 25px 25px;
	margin-right: 5px;
	height: 200px;
	width: 250px;
	float:left;
}

#game1 h3 {
	text-align: right;
	margin-bottom: 5px;
	margin-right: 25px;
}

#game2{
	/*
	margin-left: 5%;
	background-color: #ffffff;
	border: 1 solid #ffffff;
	border-radius: 50px 50px;
    color: #0A50D1;
	box-shadow: 5px 0 10px rgba(0,0,150,0.5);
	height: 250px;
	width: 450px;
	padding: 10px;
	text-align: left;
	overflow: hidden;
	*/

	margin-left: 5%;
	background-color: #00B2D8;
	border-radius: 15px 15px;
	color: #FFFFFF;
    height: 250px;
	width: 480px;
	padding: 10px;
	text-align: left;
	overflow: hidden;
}

#game2 img {
	border: 1 solid #ffffff;
	border-radius: 25px 25px;
	margin-right: 5px;
	height: 200px;
	width: 250px;
	float:left;
}

#game2 h3 {
	text-align: right;
	margin-bottom: 5px;
	margin-right: 25px;
}

#game3{
	/*
	margin-left: 45%;
	background-color: #ffffff;
	border: 1 solid #ffffff;
	border-radius: 50px 50px;
    color: #0A50D1;
	box-shadow: 5px 0 10px rgba(0,0,150,0.5);
	height: 250px;
	width: 450px;
	padding: 10px;
	text-align: left;
	overflow: hidden;
	*/

	margin-left: 45%;
	background-color: #00B2D8;
	border-radius: 15px 15px;
	color: #FFFFFF;
    height: 250px;
	width: 480px;
	padding: 10px;
	text-align: left;
	overflow: hidden;
}

#game3 img {
	border: 1 solid #ffffff;
	border-radius: 25px 25px;
	margin-right: 5px;
	height: 200px;
	width: 250px;
	float:left;
}

#game3 h3 {
	text-align: right;
	margin-bottom: 5px;
	margin-right: 25px;
}

#technologies{
	/*
	position: relative;
	top: 125px;
	margin-left: 5%;
	background-color: #ffffff;
	border: 1 solid #ffffff;
	border-radius: 50px 50px;
    color: #0A50D1;
	box-shadow: 5px 0 10px rgba(0,0,150,0.5);
	width: 70%;
	padding: 25px;
	overflow: hidden;
	*/

	position: relative;
	top: 125px;
	background-color: #0095BE;
	border-radius: 50px 50px;
    color: #FFFFFF;
	width: 70%;
	padding: 25px;
	overflow: hidden;
}

#contacts{
	/*
	margin-top: 50px;
	margin-left: 5%;
	background-color: #ffffff;
	border: 1 solid #ffffff;
	border-radius: 50px 50px;
    color: #0A50D1;
	box-shadow: 5px 0 10px rgba(0,0,150,0.5);
	width: 300px;
	padding: 25px;
	overflow: hidden;
	*/

	margin-top: 50px;
	margin-left: 5%;
	background-color: #0095BE;
	border-radius: 50px 50px;
    color: #FFFFFF;
	width: 300px;
	padding: 25px;
	overflow: hidden;
}

.Section1{
	background-color: #0095BE;
	overflow: hidden;
}

.Section2{
	background-color: #00B2D8;
	overflow: hidden;
}

.transition1{
	position: relative;
	top: 50px;
	height: 100px;
	background-color: #00B2D8;
	-moz-transform: rotate(2deg); 		/* Для Firefox */
    -ms-transform: rotate(2deg); 		/* Для IE */
    -webkit-transform: rotate(2deg); 	/* Для Safari, Chrome, iOS */
    -o-transform: rotate(2deg); 		/* Для Opera */
    transform: rotate(2deg);
}

.transition2{
	position: relative;
	top: 50px;
	height: 100px;
	background-color: #0095BE;
	-moz-transform: rotate(-2deg); 		/* Для Firefox */
    -ms-transform: rotate(-2deg); 		/* Для IE */
    -webkit-transform: rotate(-2deg); 	/* Для Safari, Chrome, iOS */
    -o-transform: rotate(-2deg); 		/* Для Opera */
    transform: rotate(-2deg);
}

.seaweed1{
	position: absolute;
	left: 70%;
	top: 750px;
}

.seaweed2{
	position: absolute;
	left: 10%;
	top: 1150px;
}

.seaweed3{
	position: absolute;
	left: 60%;
	top: 400px;
}

.fish1{
	position: absolute;
	left: 70%;
	top: 750px;
}

.fish3{
	position: absolute;
	top: 450px;
	left: 10%;
}

.fish4{
	position: absolute;
	top: 1200px;
	left: 10%;
}

.fish5{
	position: absolute;
	top: 1580px;
	left: 60%;
}

.fish6{
	position: absolute;
	top: 1880px;
	left: 15%;
}

.fish7{
	position: absolute;
	top: 500px;
	left: 60%;
}


.technologies_image_1 {
	height: 25%;
	width: 30%;
}

.technologies_image_2 {
	height: 20%;
}