#vk_ads_64017
{
    position: absolute;
    top: 150px;
    left: 860px;
}

#RemoveLoadGame {
	position: absolute;
	top: 176px;
	left: 0px;
	width: 860px;
	height: 730px;
}

#altContent{
	position: absolute;
	width: 860px;
	height: 730px;
}